@model IEnumerable<FilmDatabaseApp.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3> @Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>
                        Directed By: @Html.DisplayFor(modelItem => item.Director.Name)<br />
                        Genre:  @Html.DisplayFor(modelItem => item.Genre.Type)<br />
                        Release Date: @Html.DisplayFor(modelItem => item.ReleaseDate)<br />
                        Rotten Tomatoes Score:  @Html.DisplayFor(modelItem => item.RTScore)<br />
                        Rating: @Html.DisplayFor(modelItem => item.Rating)<br />
                        Award Winner: @Html.DisplayFor(modelItem => item.WonAward)
                    </p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
                </div>
            </div>
        </div>
    }
</div>